<div class="container mt-5">
    <div class="card">
        <div class="row">
            <div class="col-6 p-5">
                <form #studentForm="ngForm"
                      (ngSubmit)="addDetails(studentForm)">
                    <div class="mb-3">
                        <label for="studentName"
                               class="form-label">Student Name</label>
                        <input type="text"
                               [(ngModel)]="student.studentName"
                               class="form-control"
                               id="studentName"
                               name="studentName"
                               placeholder="Varadraj Kulkarni">
                    </div>
                    <div class="mb-3">
                        <label for="studentAddress"
                               class="form-label">Student Address</label>
                        <input type="text"
                               class="form-control"
                               [(ngModel)]="student.studentAddress"
                               id="studentAddress"
                               name="studentAddress"
                               placeholder="Mumbai, Maharashtra">
                    </div>
                    <div class="mb-3">
                        <label for="studentContact"
                               class="form-label">Student Contact</label>
                        <input type="number"
                               class="form-control"
                               [(ngModel)]="student.studentContact"
                               id="studentContact"
                               name="studentContact"
                               placeholder="9067472225">
                    </div>
                    <button class="btn btn-primary"
                            type="submit">Add Details</button>
                </form>
            </div>
            <div class="col-6 p-5">
                <h1 class="text-center">Choose file to upload</h1>
                <div class="text-center">
                    <input type="file"
                           #selectFile
                           value="select"
                           (change)="addFile($event)">
                </div>
                
            </div>
        </div>
    </div>
</div> 